@media (max-width: 992px) {
  header {
    width: 100%;
    flex-direction: column;
    justify-content: none;
    align-items: center;
    background-color: white;
    gap: 20px;
  }

  #label-menuToggle {
    display: flex;
    border-radius: 50px;
    padding: 10px;
    background: linear-gradient(to top, var(--celeste), var(--bodyColor));
    cursor: pointer;
  }
  #menu-toggle:checked + #label-menuToggle{
    background-color: white;
  }
  #menu-toggle:checked + #navbar {
    display: flex;
    
  
  }

  .container-contact {
    left: 0px;
    top: 280px;
    width: 100%;
    height: 2000px;
    border: none;
    align-items: center;
  }

  #navbar {
    display: none;
  }

  #section-one {
    width: 500px;
    border: 1px solid white;
  }

  #section-two {
    border: none;
    padding: 40px;
    width: auto;
  }

  #first-sub-section {
    width: 500px;
    text-align: center;
  }

  #line-divisory {
    width: 300px;
    border: none;
  }

  #second-sub-section {
    flex-direction: column;

    gap: 10px;
  }

  footer {
    flex-direction: column;
    width: 600px;
    gap: 20px;
  }

  #card {
    width: 100%;
  }
}

@media (max-width: 576px) {
  #section-one {
    width: 300px;
    height: auto;
    align-items: center;
  }

  #section-two {
    width: 400px;
  }

  #first-sub-section {
    width: auto;
  }

  #second-sub-section {
    width: auto;
    gap: 40px;
    align-items: center;
  }

  #card {
    width: 70%;
  }
}

@media (max-width: 405px) {
  #logo {
    display: none;
  }

  #section-one {
    border: none;
  }

  #second-sub-section {
    display: flex;
    align-items: center;
  }

  #card {
    width: 50%;
    left: 100px;
  }
}
