@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dhurjati&family=Lexend:wght@100;900&family=Montserrat:ital,wght@1,200&family=Oswald:wght@200&family=Rubik&display=swap");
:root {
  --celeste: #14e6dd;
  --bodyColor: rgb(0, 0, 0);
  --font-text-primary: "Rubik", sans-serif;
  --font-text-secondary: "Lexend", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: var(--bodyColor);
}

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: var(--bodyColor);
  position: fixed;
  border-bottom: 2px solid var(--celeste);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

header img {
  width: 70px;
  height: 60px;
  margin-left: 0.5rem;
  margin-top: 0.7rem;
  padding-left: 0.7rem;
}

#navbar {
  padding: 0px 25px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar ul li span a {
  transition-duration: 0.4s;
  cursor: pointer;
}
#navbar ul li span a:hover {
  border-bottom: 2px solid white;
  border-bottom-width: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 0px 10px 10px 10px;
  letter-spacing: 5px;
  color: white;
}

ul {
  display: flex;
  gap: 30px;
  text-decoration: none;
  color: var(--celeste);
}

ul li {
  letter-spacing: 0.1rem;
  color: var(--celeste);
  list-style: none;
}

li a {
  color: var(--celeste);
  font-family: var(--font-text-primary);
  font-weight: 900;
}

/* header */

/* MAIN */

/* SECTION 1 */
#section-one {
  padding: 50px;
  border: 3px solid var(--celeste);
  border-radius: 20px;
  background-color: var(--bodyColor);
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 900px;
  height: 400px;
  gap: 70px;
}

#container-slogan-text-buttons {
  display: flex;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#container-slogan-text-buttons span,
#container-slogan-text-buttons p {
  font-size: 60px;
  font-family: var(--font-text-primary);
  font-weight: 900;
  text-align: center;
}

#container-slogan-text-buttons p {
  font-size: 20px;
  font-family: var(--font-text-secondary);
  font-weight: 100;
  font-size: 20px;
  text-align: center;
}

#container-buttons {
  display: flex;
  gap: 20px;
}

#button-one {
  border: 2px solid var(--celeste);
  border-radius: 15px;
  padding: 8px;
  background-color: black;
  cursor: pointer;
  color: white;
  transition-duration: 0.5s;
}

#button-two {
  border: 2px solid white;
  border-radius: 15px;
  padding: 8px;
  background-color: black;
  cursor: pointer;
  color: white;
  transition-duration: 0.5s;
}

#button-one:hover {
  border: 2px solid white;
  background-color: var(--celeste);
  color: black;
  font-weight: 500;
}
#button-two:hover {
  border: 2px solid var(--celeste);
  background-color: white;
  color: black;
  font-weight: 600;
}
/* SECTION 1 */

/* SECTION 2 */
#section-two {
  padding: 50px;
  /* border: 3px solid var(--celeste); */
  border-radius: 20px;
  background-color: var(--bodyColor);
  width: 900px;
  height: 400px;
  gap: 70px;
  color: white;
}

#section-two p {
  font-family: var(--font-text-secondary);
}

/* SECTION 2 */
/* MAIN */
