* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: 10%;
  border-bottom: 7px solid #14e6dd;
  background-color: black;
}

#logo {
  padding: 0;
  margin: 0;
}

img {
  border-radius: 30%;
  width: 130px;
  height: 115px;
  margin: 0.5rem;
}

#navbar {
  position: relative;
  top: 2.7rem;
  left: 48rem;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

a {
  padding: 1rem;
  height: 1.5rem;
  text-decoration: none;
  color: #14e6dd;
  letter-spacing: 0.2rem;
  font-family: "Rubik", sans-serif;
}
