@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik&display=swap");

:root {
  --celeste: #14e6dd;
  --bodyColor: rgb(0, 0, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background-color: var(--bodyColor);
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-height: 10%;
  border-bottom: 5px solid var(--celeste);
}

#logo {
  width: 130px;
  height: 115px;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  padding-left: 0.7rem;
}

#navbar {
  padding: 0px 25px 0px 0px;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  gap: 30px;
  text-decoration: none;
  color: var(--celeste);
}

ul li {
  letter-spacing: 0.1rem;
  color: var(--celeste);
  list-style: none;
}

li a {
  color: var(--celeste);
  font-family: "Bebas Neue", sans-serif;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
}

/* header */
